.centered-text {
    text-align: center;
    top: 50%;
    position: relative;
}

.header-text {
    color: white;
    top: 8px;
    position: relative;
}

.header {
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: #173c78;
}

.right-aligned-button {
    position: relative;
    left: 650px;
}

.btn-primary {
    background-color: #173c78;
    border-color: #173c78;
}

.vertical {
    display: block;
}

.action-buttons {
    padding: -100px;
}

.bottom-border {
    box-shadow: 5px 1.5px 1.5px lightgray;
}

.table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.close {
    display: none;
}