.delete-button {
    background-color: red;
    border-color: red;
    margin: -8px 0px 0px 0px;
}

.centered-text {
    text-align: center;
    top: 50%;
    position: relative;
}

.action-parent {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: -100px;
}

.action-button {
    position: relative;
    top: 50%;
    left: 38%;
    padding: 5px 20px;
}

.centered-rows {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-check-input {
    align-items: center;
    justify-content: center;
    text-align: center;
}